<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641076579978-fibu9l3ef3c8e5vgqpo4gl5f8a5tpmos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641076579978-fibu9l3ef3c8e5vgqpo4gl5f8a5tpmos</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TestAppPhotoProcessing</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Для сохранения изображений в галерею</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.yourapp.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.641076579978-fibu9l3ef3c8e5vgqpo4gl5f8a5tpmos</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
